.go-up {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 1.2rem;
    right: 1.5rem;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    outline: none;
    border-radius: 2rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.go-up.show {
    visibility: visible;
    opacity: 1;     /* as button has 'transition' effect, use 'opacity' to show the "fading" effect */
    border: none;
}