#contact .main-content {
    text-align: left;
}

#contact .location {
    display: flex;
    align-items: center;
}

#contact .location .label {
    padding-left: 10px;
}

#contact .undraw-image {
    width: 400px;
}

#contact .social-link.rounded {
    width: 60px;
    height: 60px;
}

#contact .social-link.rounded svg {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}